.case {
    display: flex;
    justify-content: center;              
    align-items: center;                 
    background-color: #3498db;            
    color: white;                         
    font-size: 20px;                      
    border-radius: 8px;  
 

  }

  .carré {
  margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);    
    gap: 10px;                            
    width: 300px;                         
    height: 300px; 
}

/* .case.color-1 { background-color: #000000; } 
.case.color-2 { background-color: #e74c3c; } 
.case.color-3 { background-color: #2ecc71; } 
.case.color-4 { background-color: #f39c12; } 
.case.color-5 { background-color: #9b59b6; }  */