.caseo {
    display: flex;
    justify-content: center;              
    align-items: center;                 
    background-color: #3498db;            
    color: white;                         
    font-size: 20px;                      
    filter: blur(30px);
    border: 2px solid black
    width: 200px;                         
    height: 200px;
  }
 
  .carré {
  margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);    
    gap: 10px;                            
  
} 

#exo{
   
    border: 2px solid red
    filter: blur(0px)
}